<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ntalk - Agenda de contatos</title>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-firestore.js"></script>

    <script>
      const firebaseConfig = {
        apiKey: "AIzaSyAX-llY-8l1c5KweaijcEG4pA6AnWE6oKY",
        authDomain: "agenda-contatos-9bb52.firebaseapp.com",
        projectId: "agenda-contatos-9bb52",
        storageBucket: "agenda-contatos-9bb52.appspot.com",
        messagingSenderId: "109416513544",
        appId: "1:109416513544:web:529ba59c479d54564f11bd"
      };
      firebase.initializeApp(firebaseConfig);
    </script>
  </head>
  <body>